<EditForm OnSubmit="OnSubmitAsync" Model="Model">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="@nameof(Model.Topic)" @bind-Value="Model.Topic" For="() => Model.Topic"/>
                    <MudTextField Label="@nameof(Model.Tags)" @bind-Value="Model.Tags" For="() => Model.Tags" HelperText="Each tag must be comma (,) separated."/>
                    <br/>
                    <MudInputLabel>
                        @nameof(Model.Body)
                    </MudInputLabel>
                    <BlazoredTextEditor @ref="@_quillHtml" Placeholder="Enter a topic body...">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent></EditorContent>
                    </BlazoredTextEditor>
                    <div class="mud-input-helper-text mud-input-error">
                        <ValidationMessage For="() => Model.Body"/>
                    </div>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Outlined.Check">
                        Save
                    </MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
